.footer {
    background-color: #d9d9d94c;
    margin-top: 150px;
}
h1,h2,h3{
    font-family: 'Machérie', sans-serif;
  }
  p{
    font-family: 'Lora', serif;
  }
  @font-face {
    font-family: 'Machérie';
    src: url('../fonts/macherie-webfont.woff2') format('woff2'), 
    url('../fonts/macherie-webfont.woff') format('woff');
   }
  .container{
      width: 1280px;
      margin: 0 auto;
  }
  h1,h2,h3{
    font-family: 'Machérie';
  }
  p{
    font-family: 'Lora', serif;
  }